Carubbi.ComponentClient/Service References/GSACaptchaBreakerServiceProxy/Carubbi.CaptchaBreaker.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Carubbi.CaptchaBreaker.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Carubbi.CaptchaBreaker.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CaptchaConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="CaseSensitive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExecutarCalculo" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumeroDePalavras" type="xs:int" />
      <xs:element minOccurs="0" name="TamanhoMaximo" type="xs:int" />
      <xs:element minOccurs="0" name="TamanhoMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" type="tns:TipoCaptcha" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaptchaConfig" nillable="true" type="tns:CaptchaConfig" />
  <xs:simpleType name="TipoCaptcha">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ApenasLetras" />
      <xs:enumeration value="ApenasNumeros" />
      <xs:enumeration value="Alfanumerico" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoCaptcha" nillable="true" type="tns:TipoCaptcha" />
</xs:schema>